<section class="section about">
  <div class="section__title">About</div>
  <div class="section__content">
    
    <!-- <div id="about" >    style="display: none"> -->
      <h3>Based in Seattle, WA</h3>
      <p>
        Born in Miami, FL; surviving the heat used to
        be my primary goal. <br>
        <a href="images/dey.jpg" data-lightbox="rly k00l lyf livin'"
        data-title="My face!">Now I am the heat!</a>
      </p>
      <p>
        I've always had a passion for improving things. I seek out
        what needs doing and enjoy the process as much as the result.
        That's probably why I went into this field in the first place.
      </p>
      <p>
        Recently, I graduated from North Seattle College with a Bachelor's of 
        Applied Science in Application Development at >3.5 GPA.
        Studying Computer Science, I spent time not only learning data structures &
        algorithms or what to do with Big Data, but spent months with hands on
        experience in practicum with clients. This exposed me to
        different technologies, yes, though more impactful to me was real time 
        experience in handling leadership roles and taking initiative, 
        which I now fear help me be a better developer...
      </p>
      <p>
        As a nerd, I find it fun to play around with home networking and 
        programming useless devices and Raspberry Pi-ing things just because 
        it is nice to hear my mechanical keyboard in action.
      </p>
      <p>
        Each day, I aim to learn something new, then can't wait to put it to good
        use! If you would like to build something together,
        <a href="mailto:deyanira@taupier.dev">reach out</a>~*
      </p>
        <br>
      <p>
        On my off time, my puppy
        <a href="images/bongo.jpg" data-lightbox="rly k00l lyf livin'"
        data-title="My pup!">Bongo</a> and I go frolic into the wilds. 
        Sometimes, I'm engaging with my music, playing bass guitar. 
        I also can cream anyone at Super Smash Bros, so watch out!
      </p>
    <!-- </div> -->

    {% include employment-status.html %}
  </div>
</section>
