<section class="section featured-projects">
  <div class="section__title">Featured</div>
  <div class="section__content">
    
    <div class="project bjorker">
      <figure class="project__pic">
        <a href="http://bjorker.herokuapp.com" target="_blank">
          <img src="images/projects/bjorker/bj1.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/miscdats/The-Bjorker" target="_blank">The Bjorker</a>
        </div>
        <p>
          Using machine learning and Spotify APIs for track analysis, this Flask app (currently deployed on Heroku) spins 
          up a Redis queue background worker and sets off to fetch user inputted playlists' tracks' analysis data to accurately 
          determine whether those tracks would be representative to Bjork's inspirational tastes.
        </p>
      </figcaption>
    </div>

    <div class="project keymgmt">
      <figure class="project__pic">
        <a href="https://github.com/miscdats/keymanagement" target="_blank">
          <img src="images/projects/keymgmt/key1.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/miscdats/keymanagement" target="_blank">Umano Properties Key Management</a>
        </div>
        <p>
          Web app service with infrastructure spun up in AWS serverless environment, allows for users of different levels to 
          interact with and keep track of inventory of keys for properties across the state using their private database on RDS.
        </p>
      </figcaption>
    </div>
    
    <div class="project fon">
      <figure class="project__pic phones">
        <a href="https://github.com/miscdats/friendsofnoise" target="_blank">
          <div class="phone">
            <img src="images/projects/fon/fon2.png" alt="">
          </div>
          <div class="phone">
            <img src="images/projects/fon/fon1.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/miscdats/friendsofnoise" target="_blank">Friends of Noise Portal and Store</a>
        </div>
        <p>
          This was a reactive design web app built with React + Bulma/SASS on Firebase providing membership and 
          event seating reservation app for non-profit organization providing all ages music. 
        </p>
      </figcaption>
    </div>

  </div>
</section>
