/* CSS Styles*/


/*  opera mauve:      #c1839f
    white smoke:      #f5f5f5
    black olive:      #3c3c3c
    pastel red:       #ff5a5f
    metallic seaweed: #087e8b
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background: #c1839f url('../images/vapormt.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
}

header {
  width: 99%;
  padding: 0;
  position: sticky;
}

#wrap {
  margin: auto 25px auto 25px;
}

#nav_bar {
  padding: 0;
  position: absolute;
  right: 0px;
  z-index: 1;
  display: block;
}

main {
    /* margin: 25px 0 25px 75px; */
    padding: 25px;
}

aside {
    float: right;
    width: 35%;
    margin: 25px 75px 25px 0;
}

footer {
    height: 30px;
    clear: both;;
    padding-top: 5px;
}

footer ul {
  margin-left: 20px;
}

footer li {
  float: right;
  margin-right: 30px;
  list-style-type: none;
}

img {
    max-width: 100%;
}

/*      +++ Typography +++      */

#nav_bar i {
  font-size: 3rem;
  padding: 15px;
}

a {
  color: #087e8b;
  text-decoration: none;
  opacity: 1;
  font-weight: bold;
}

header {
  font-family: 'Quantico', sans-serif;
  text-align: right;
  opacity: .8;
  text-shadow: 4px 4px #ff5a5f;
}

header h1 {
  font-size: 5rem;
  color: #087e8b;
  line-height: 70px;
  margin-bottom: 10px;
}

header h2 {
  font-size: 1.5rem;
  color: #f5f5f5;
  text-shadow: none;
  letter-spacing: 1.5px;
}

header h3 {
  font-size: .75rem;
  color: #3c3c3c;
  margin-bottom: 5px;
  text-shadow: none;
}

main p {
    margin:auto auto 10px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    color: #f5f5f5;
    opacity: 1;
    font-size: 1.2rem;
}

footer {
  font-family: 'Quantico', sans-serif;
}

footer li {
  font-size: .875rem;
  color: #c1839f;
}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0;
	/* margin: 0px; */
  margin: 50px 0 50px 0;
  opacity: .7;
  background-color: #3c3c3c;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 2.0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66%; }
.span_1_of_3 { width: 32%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
